{% extends '_layouts/base.njk' %}

{% block page_title %}On the guitar...{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1>Brian May</h1>
      <img src="assets/img/members/brian-may-color.jpg" class="img-fluid">
    </div>

    <div class="col-sm" >
      <br>
      <h5>Born:</h5>
      <p>19 July 1947<br>Hampton, London, England</p>
      <h5>Bio:</h5>
      <p>May was a badass guitarist.</p>
    </div>

  </div>
</div>

<br>

{% endblock %}
