{% extends '_layouts/base.njk' %}

{% block page_title %}On lead vocals...{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1>Freddy Mercury</h1>
      <img src="assets/img/members/freddie-mercury-color.jpg" class="img-fluid">
    </div>

    <div class="col-sm" >
      <br>
      <h5>Born:</h5>
      <p>05 September 1946<br>Stone Town, Zanzibar</p>
      <h5>Bio:</h5>
      <p>Mercury was a badass lead singer.</p>
    </div>

  </div>
</div>

<br>

{% endblock %}
