{% extends '_layouts/base.njk' %}

{% block page_title %}Queen who?{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Band Members</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
      Formed in 1970, Queen is a British rock band. Hit songs including "Bohemian Rhapsody" and "We Are the Champions" led the group to great success and consideration as one of the greatest bands of all-time. <a href="detail-page.html">link to detail-page.html</a> 
    </p>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" alt="Freddy Mercury picture" src="assets/img/members/freddie-mercury-bw.jpg">
          <div class="card body">
            <h5 class="card-title"><a href="freddy-mercury.html">Freddy Mercury</a></h5>  
          </div>
        </div> 
        
        <div class="card">
          <img class="card-img-top" alt="John Deacon picture" src="assets/img/members/john-deacon-bw.jpg"
          <div class="card body">
            <h5 class="card-title">John Deacon</h5>
          </div>
        </div>  

        <div class="card">
          <img class="card-img-top" alt="Brian May picture" src="assets/img/members/Brian-may-bw.jpg"
          <div class="card body">
            <h5 class="card-title">Brian May</h5>
          </div>
        </div>  
        
        <div class="card">
          <img class="card-img-top" alt="Brian May picture" src="assets/img/members/roger-taylor-bw.jpg"
          <div class="card body">
            <h5 class="card-title">Roger Taylor</h5>
          </div>
        </div>
      </div>

      <ul> 
        {% for book in books %}
          <li>{{ book.title }}, {{ book.author }}</li>
        {% else %}
          <li>This would display if the 'books' collection were empty</li>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
