{% extends '_layouts/base.njk' %}

{% block page_title %}On the drums...{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm">
      <h1>Roger Taylor</h1>
      <img src="assets/img/members/roger-taylor-color.jpg" class="img-fluid">
    </div>

    <div class="col-sm" >
      <br>
      <h5>Born:</h5>
      <p>26 July 1949<br>King's Lynn, Norfolk, England</p>
      <h5>Bio:</h5>
      <p>Taylor was a badass drummer.</p>
    </div>

  </div>
</div>

<br>

{% endblock %}
